<h1>Available Properties</h1>
<ul>

<% @property.each do |property| %>
<li><h3><%= property.title %>:</h3><h4><%= property.description%></h4>

<form action= '/book-property' method=POST>
<%= "<select name ='available_dates_#{property.id}'>" %>
<% property.availability.each do |date| %>
<%= "<option value=#{date.strftime('%Y-%m-%d')}> #{date.strftime('%B %d, %Y')}</option>"%>
<% end %>
</select>
<%= "<input type='submit' id= #{property.id} value='Request Date'>" %>

</li>

<% end %>

</ul>

<center><a href='/properties/add_new'>New Property Listing</a></center>

