<h1>Available Properties</h1>
<ul>
  <% @property.each do |property| %>
    <li class="property" id="property-<%= property.id %>">
      <%= property.title %>
      Location: <%=property.listing_location %>
      Price per night: £<%=property.price_per_night %>

      <form action='/view_listing/<%= property.id %>' method="post">
        <input type='submit' value='View Property' />
      </form>
    </li>
  <% end %>
</ul>

<center><a href='/properties/add_new'>New Property Listing</a></center>



