
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Property Listings</title>
  </head>
  <body>
<center>

<h1>Available Properties</h1>

<%= erb :log_out_button %>

<ul>
  <% @property.each do |property| %>
    <li class="property" id="property-<%= property.id %>">
      <b><%= property.title %></b>
      <p>Location: <%=property.listing_location %>
      <p>Price per night: £<%=property.price_per_night %>
      <form action='/view_listing/<%= property.id %>' method="post">
        <input type='submit' value='View Property' />
      </form>
    </li>
  <% end %>
</ul>
  


<%= erb :add_property_button %>

</body>
</html>

