<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>MakersBnB</title>
  </head>
  <body>

<center><ul>     
<h1><%= session[:property_to_view].title %></h1>
<ul>Location: <%= session[:property_to_view].listing_location %></ul>
<ul>Price per night: £<%= session[:property_to_view].price_per_night %></ul>
</ul>Description: <%= session[:property_to_view].description %></ul>

<form action= "/book-property/<%= session[:property_to_view].id %>" method=POST>
<%= "<select name ='available_dates'>" %>
<% session[:property_to_view].availability.each do |date| %>
<%= "<option value=#{date.strftime('%Y-%m-%d')}> #{date.strftime('%B %d, %Y')}</option>"%>
<% end %>
</select>
<%= "<input type='submit' value='Request Date'>" %>
</form>
</center>

</body></html>